@use "variables" as *;

audio {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    background-color: transparent;
    width: 35rem;

    @media (max-width: $breakpoint-sm) {
        width: 100%; 
    }
}

audio::-webkit-media-controls-enclosure {
    background-color: transparent;
}
