@use "variables" as *;
@use "mixins" as *;
@use "fonts" as *;


$-features-background-color: $dark-accent-color;
$-features-icon-size: 1.8rem;
$-features-animations-duration: 0.3s;

.features {
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8) ), url(../assets/img/background/tartan.gif);
    -webkit-background-size: cover;
    -moz-background-size:  cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    padding-top: 1.5rem;
    padding-bottom: 8.5rem;
}

%features__before-and-after {
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    font-family: 'Old English', serif;
    content: "Schottenschulle";
    text-transform: uppercase;
    color: $-features-background-color;
    font-size: min(calc(100vw /11), 9rem);
    font-weight: bold;
    text-shadow: 0 0 1px black;
    text-align: center;
    z-index: 0;
    white-space: nowrap;
    overflow: hidden;
}

@mixin -features__before-and-after-stroke($color) {
    @supports (-webkit-text-stroke: 2px #{$color}) or (text-stroke: 2px #{$color}) {
        -webkit-text-stroke: 2px #{$color};
        text-stroke: 2px #{$color};
        text-shadow: none;
    }
}

.features::before {
    @extend %features__before-and-after;

    @include -features__before-and-after-stroke(rgba(0, 0, 0, 0.2));
}

.features::after {
    @extend %features__before-and-after;

    @include -features__before-and-after-stroke(transparent);
}

.features__container {
    position: relative;
    z-index: 1;

    @include make-container();
}


.features__heading {
    color: $default-light-textcolor;
    font-family: 'Old English';
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.1em;
    text-align: center;
    padding-top: 2.75rem;
    font-size: 4.5rem;
}

.features__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.features__card {
    flex: 0 0 20%;
    @media (max-width: $breakpoint-lg) {
        flex: 0 0 14.2rem;
    }
    
    position: relative;
    margin-top: 3rem;
    height: 21rem;
    overflow: hidden;
    box-shadow: 0 0 1rem transparent;
    transform: scale(1);

    z-index: 0;

    transition: transform $-features-animations-duration ease-in-out, 
    box-shadow $-features-animations-duration ease-in-out,
    z-index $-features-animations-duration linear;

    &:hover {
        transform: scale(1.1);
        box-shadow: 0 0 1rem black;

        transition: transform $-features-animations-duration ease-in-out,
        box-shadow $-features-animations-duration ease-in-out,
        z-index 0s linear;

        z-index: 100;
    }
}

.features__card-heading {
    font-family: $default-heading-font;
    font-size: 2rem;
    letter-spacing: 0.1em;
    margin-bottom: 0.5rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.features__card-used-tech {
    color: $default-light-textcolor;
    font-family: $default-paragraph-font;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    display: flex;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.features__card-used-tech-desc {
    color: $default-light-textcolor;
    font-family: $default-paragraph-font;
    font-size: 0.8rem;
    padding: 0.9rem 0;
    background-image: linear-gradient(90deg, $scottishblue 60%, transparent 60%);
    background-position-y: top;
    background-size: 100% 0.125rem;
    background-repeat: no-repeat;
}

.features__card-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
}

.features__icon-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    transition: transform $-features-animations-duration ease-in-out;

    .features__card:hover & {
        transform: translate(calc(50% - #{$-features-icon-size * 0.5}), 0);
    }
}

.features__card-icon {
    color: #fefefe;
    position: relative;
    padding-top: 0.5rem;
    padding-left: calc(9% - 0.55rem);

    filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.5));
}

.used-features__card-icon {
   color: $secondary-accent-color;
}

.features__card-icon-background {
    background-color: $scottishblue;
    padding: 0 0.3rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2rem;
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.6);

    transition: transform $-features-animations-duration ease-in-out;

    transform: translate(calc(-100% + #{$-features-icon-size}), 0);

    .features__card:hover & {
        transform: translate(0, 0);
    }
}

.features__card-content {
    color: #fefefe;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 3rem 1rem 0 1rem;
    background-image: linear-gradient(180deg, transparent 0%, rgba(0, 0, 0, 0.6) 30%);
    text-shadow: 0 0 0.125rem black;

    transition: transform $-features-animations-duration ease-in-out;

    transform: translate(0, calc(100% - 8.15rem));

    .features__card:hover & {
        transform: translate(0, 0);
    }
}