@use "variables" as *;
@use "fonts" as *;
@use "sass:color";

.footer {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../assets/img/background/tartan.gif);
    -webkit-background-size: cover;
    -moz-background-size:  cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 3rem 0 0.5rem 0;

    display: flex;
    align-items: center;
    flex-direction: column;

@media (max-width: $breakpoint-lg) {
    margin-top: -2.2rem;
    }

@media (max-width: $breakpoint-md) {
    margin-top: -2.2rem;
    }

@media (max-width: $breakpoint-md) {
    margin-top: -2.2rem;;
  }
}

.footer__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    border-bottom: 0.1rem solid rgba(255,255,255,0.1);

    @media (max-width: $breakpoint-sm) {
        flex-direction: column;
    }
}

.footer__text-column {
    flex: 0 0 auto;
    margin-right: 5rem;
    text-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);

    @media (max-width: $breakpoint-sm) {
        order: 2;
        margin-right: 0rem;
    }
}

.footer__logo-column {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: $breakpoint-sm) {
        order: 1;
        justify-content: center;
        padding-bottom: 2rem;
    }
}

.footer__heading {
    font-family: $default-heading-font;
    color: $default-light-textcolor;
    font-weight: 700;
    font-size: 3rem;
    letter-spacing: 0.1em;
    max-width: 24rem;

    @media (max-width: $breakpoint-sm) {
        padding-left: 0.5rem;
    }
}

.footer__paragraph {
    font-family: $default-paragraph-font;
    color: $default-light-textcolor;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;

    @media (max-width: $breakpoint-sm) {
        padding-left: 0.5rem;
    }
}


.footer__contact-item {
    position: relative;
    margin-bottom: 0.75rem;

    @media (max-width: $breakpoint-sm) {
       padding-left: 1rem;
    }
}

.footer__contact-item-icon {
    position: relative;
    z-index: 2;

    color: $default-light-textcolor;
    background-color: $scottishblue;
    height: 4rem;
    width: 4rem;
    text-align: center;
    border-radius: 100000px;
    font-size: 2.5rem;

    &--phone {
        line-height: 3.9rem;
    }
}

.footer__contact-item-link {
    position: absolute;
    z-index: 1;
    left: 2rem;
    top: 0.25rem;

    white-space: nowrap;
    background-color: $secondary-accent-color;
    text-decoration: none;
    font-family: $default-paragraph-font;
    color: $default-light-textcolor;
    padding: 1rem 2rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    width: 16rem;
    text-align: center;
    overflow: hidden;

    &::after {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: calc(-100% - 5rem);
        width: calc(100% + 5rem);
        bottom: 0;

        background-image: linear-gradient(-45deg, transparent 2.82rem, $scottishblue 2.82rem);
        background-position: right center;
        background-repeat: no-repeat;
        transition: transform 0.5s ease-in-out;
        will-change: transform;
    }

    &:hover {
        &::after {
            transform: translate(100%, 0);
        }
    }

        @media (max-width: $breakpoint-sm) {
        padding-left: 3rem;
    }
}

.footer__logo-container {
    padding: 0.05em;
    font-size: 10rem;
    color:#fefefe;

    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(135deg, $scottishblue 49%, $secondary-accent-color 100%);
    border-radius: 100000px;

    @media (max-width: $breakpoint-md) {
        font-size: 5rem;
    }
}

.footer__logo-icon {
    height:13rem;
    width: 13rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.02em solid $tertiary-accent-color;
    border-radius: 100000px;

    @media (max-width: $breakpoint-md) {
        height:10rem;
        width: 10rem;
    }
}

.footer__footer-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);

     @media (max-width: $breakpoint-sm) {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
    }
}

.footer__footer-link {
    display: inline-block;
    font-family: $default-paragraph-font;
    font-size: 0.75rem;
    color: $default-light-textcolor;
    text-decoration: none;
    padding: 0.3rem 3rem;

    transition: color 0.25s ease-in-out;

    &:hover {
        color: $default-accent-color;
    }
}