@use "variables" as *;
@use "fonts" as *;
@use "mixins" as *;

.icon {
    fill: $default-light-textcolor;
    height: 1em;
    vertical-align: middle;

    &:not(.icon--no-position) {
        position: relative;
        top: -0.075em;
    }
}

.another-icon {
    fill: $scottishblue;
    height: 1em;
    vertical-align: middle;

    &:not(.icon--no-position) {
        position: relative;
        top: -0.075em;
    }

    &:hover {
        fill: $secondary-accent-color;
    }
}